body {
    font-family: Open Sans;
}

h1 {
    text-align: left;
}

#heading {
    text-decoration: underline;
}

#container {
    width:50%;
    margin:relative;
    padding: 0 15px 15px 10px;
    border:4px solid #777777;
    border:5px;
    color: black;
    font-weight: bold;
}
